#header{
height:50px;
background-color:#cc6600;
position:fixed;
top:0px;
left:0px;
right:0px;
}
#p1{
width:60px;
height:50px;
background-color:white;
float:left;
}
.p2{
color:white;
margin-left:30px;
float:left;
}
.s2{
height:750px;
background-image:url(././images/ktmlogo.jpg);


}
.ktm
{
font-size:35px;
padding-top:600px;
color:white;
text-align:center;
}
.ktm1{
font-size:28px;
padding-top:5px;
color:white;
text-align:center;
}
.h2{
color:#cc6600;
text-align:center;
}
.ktmdes{
color:white;
padding-left:40px;
padding-right:40px;
font-size:20px;
font-weight:"italic";
text-align:center;
}

.img{
border-radius:40px;
float:left;
}
#imgdes{
padding-top:130px;
color:white;
font-size:22px;
}

.latn{
padding-top:170px;
color:white;
text-align:center;
}
.font{
color:white;
font-size:20px;
text-align:center;
}

.limg{
float:left;
height:300px;
width:33%;
border-radius:55px;
}
.i{
text-align:center;
color:white;
padding-top:350px;

}

.white{
color:white;
text-align:center;
}

.bike
{
border:3px solid white;
width:200px;
float:left;
}

.bike1{
border:3px solid white;
height:210px;
width:200px;
float:right;
}
.bike2{
margin-right:420px;
float:right;
height:210px;
width:200px;
border:3px solid white;
}

#new{
float:clear;
background-color
}

.o{
color:white;
}
.form{
margin-left:650px;
}
#foot{
background-color:white;
}
#fot{
background-color:white;}

.p
{
padding-top:4px;	
color:white;
}
#kill{
padding-top:50px;
float:right;

}
#kil{
padding-top:50px;
float:left;
}
.white1{
color:white;
padding-left:40px;	
text-decoration:none;
}
.cool{
padding-top:20px;


}
}
