#div{
background-color:#cc6600;
width:100px;
margin-left:670px;
height:30px;
position:fixed;
}
.white{
color:white;
}

#home{
margin-top:0px;
padding-top:8px;
text-align:center;
color:white;
}
#body{
margin-top:0px;
background-color:black;
}

#section{
height:800px;
width:1455px;
background-image:url("images/rc2001.jpg")
}
#section1{
width:1450px;
height:1000px;
padding-top:500px;
}
.div1{
border:20px solid white;
margin-top:140px;
width:300px;
margin-left:30px;
height:300px;
float:left;
}

.div2{
border:20px solid white;
margin-top:140px;
width:300px;
float:left;
margin-left:180px;
height:300px;
}
.zig{
width:300px;
height:140px;
background-color:#cc6600;
}
.checked{
color:#cc6600;
}

.center{
margin-left:100px;
width:150px;
float:left;
}
.td{
color:white;
padding-left:5px solid white;
background-color:#cc6600;
padding:8px;
}
.table{
float:left;
margin-left:250px;
}
.h2{
color:white;
text-align:center;
padding-top:500px;
}

#kil{
float:left;
}
#kill{
float:right;
}
